.box
{
    width: 400;
    border: 1px solid black;
    text-align: justify;
    margin-left: 50px; /* Marge extérieure de 50px */
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 2%;
    padding-right: 3%;

}
.Rect
{
    flex-wrap: wrap;
    display: flex;
}
body
{
    background-color: #7A90A4;
}
h3
{
    font-size: 50px;
    color: #344D59;
    margin-left: 75px;
}
p
{
    margin-left: 25px;
    color: white;
}
input
{
    background-color: #137C8B;
    color: white;
}
button
{
    background-color: #709CA7;
    color: white;
}
.register
{
    margin-left: 40%;
    margin-top: 15%;
}